.flex{
  padding: 2rem 1rem;
  background-color: #FAF9F8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.note{
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid #2564CF;
}

.ul{
  max-width: 800px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

li{
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.402);
  margin-bottom: 1rem;
  
  h6{
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
  }
  
  p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  div{
    padding-top: 4px;
    display: flex;
    justify-content: end;
    gap: 10px;
    opacity: 0;
    transition: opacity 200ms;
    

    button{
      cursor: pointer;
      margin-bottom: 0.5rem;
    }
  }
  
  &:hover div{
    opacity: 1;
  }
}

.editMode{
  border: 1px solid hsla(0, 0%, 51%, 0.4);
  border-radius: 12px;
  padding: 0.5rem;
  padding-bottom: 0;
  background-color: #FFFFFF;

  textarea{
    width: 100%;
    min-height: 75px;
    max-height: 200px;
    resize: none;
    overflow-y: auto;
    background-color: hsla(0, 0%, 70%, 0.3);
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 4px;

    &:focus{
      outline: none;
    }
  }
  
  input{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
    background-color: hsla(0, 0%, 70%, 0.3);
    padding: 4px;
    border-radius: 10px;

    &:focus{
      outline: none;
    }
  }
}

.div{
  opacity: 1;
  border-top: 1px solid hsla(0, 0%, 51%, 0.4);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding-right: 1rem;
  
  button{
    padding: 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 50ms;

    &:active{
      transform: scale(0.9);
    }
  }
}

.cancel{
  background-color: hsl(0, 0%, 95%);

  &:hover{
    background-color: hsl(0, 0%, 80%);
  }
}

.save{
  background-color: hsl(218, 70%, 48%);
  color: white;

  &:hover{
    background-color: hsl(218, 72%, 28%);
  }
}
